@model IEnumerable<BookLibrary.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
              <label> Image</label>
            </th>
          @* <th>
                @Html.DisplayNameFor(model => model.author.AuthorName)
            </th><th>
                @Html.DisplayNameFor(model => model.author.Birthday)
            </th><th>
                @Html.DisplayNameFor(model => model.author.Deathday)
            </th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
             <td>
                 @if(item.ImageUrl != null)
            {
                                <img src="~/uploads/@item.ImageUrl" width="20%" height="20%"></img>
            }         
            </td>
             @*  <td>
                @Html.DisplayFor(modelItem => item.author.AuthorName)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.author.Birthday)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.author.Deathday)
            </td>*@
               
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {Id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
